{%- style -%}
  /* Mobile styles (default) */
        .custom-about__section {
          margin-top:90px !important;
          padding-top:30px !important;
          padding-bottom:30px !important;
        }

        .custom_about__main {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          align-content: center;
          gap:20px;
          text-align:center;
          padding:15px;
      }

    .custom_about__main > div {
      flex: 1 0 100%;
      }

      .custom_about__main > div:first-child {
      order:2;
      }

        .custom_about__main > div:last-child {
      order:1;
      }

  /* Tablet and small desktop */
  @media screen and (min-width: 750px) {
     .custom_about__footer {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
  }

       .custom_about__footer > div {
        flex: 1 0 45%;
      }
  }

  /* Large desktops */
  @media screen and (min-width: 990px) {

            .custom_about__main {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-content: center;
          gap:20px;
          text-align:left;
          padding:15px;
      }
      .custom_about__main > div:first-child {
      order:1;
      }

        .custom_about__main > div:last-child {
      order:2;
      }

        .custom_about__main > div {
      flex: 1 0 45%;
      }
  }
{%- endstyle -%}

<section
  class="custom-about__section page-width scroll-trigger animate--slide-in"
  style="
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    background-image: url('{{ section.settings.custom-about_background | image_url }}');
  "
>
  <div class="custom_about__main">
    <div class="custom_about__container">
      <div class="custom_about__body">
        <h2 class="h1">
          {{ section.settings['custom-about__title'] | strip_html }}
        </h2>
        <p>{{ section.settings['custom-about__description'] | strip_html }}</p>
      </div>

      <div class="custom_about__footer">
        {% for block in section.blocks %}
          <div class="custom_about__footer-items">
            <h3>{{ block.settings.sub_about_title | strip_html }}</h3>
            <p>{{ block.settings.sub_about_description | strip_html }}</p>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="custom_about__container">
      <img
        src="{{ section.settings.custom-about_image | image_url }}"
        alt="{{ section.settings.custom-about__title }}"
        width=""
        height=""
      >
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Custom About Section",
  "settings": [
    {
      "type": "header",
      "content": "Section Spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 20
    },
    {
      "type": "header",
      "content": "About Background"
    },
    {
      "type": "image_picker",
      "id": "custom-about_background",
      "label": "Background"
    },
    {
      "type": "image_picker",
      "id": "custom-about_image",
      "label": "Background Image"
    },
    {
      "type": "header",
      "content": "About Details"
    },
    {
      "type": "text",
      "id": "custom-about__title",
      "label": "About Title",
      "default": "Quality Products"
    },
    {
      "type": "textarea",
      "id": "custom-about__description",
      "label": "About Description",
      "default": "Product that you will truly love"
    },
  ],
    "blocks": [
    {
      "type": "blurps",
      "name": "Sub About",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "sub_about_title",
          "label": "Heading",
          "default": "Title Lorem Ipsum"
        },
        {
          "type": "textarea",
          "id": "sub_about_description",
          "label": "Heading",
          "default": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, "
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom About Section"
    }
  ]
}
{% endschema %}
