{%- style -%}
      .custom-banner__section {
          width: 100%;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          min-height: 585px;
          display: flex;
          align-items: center;
      }

    .custom_banner__main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        /* justify-content: space-between; */
        max-width: 1500px;
        width: 100%;
        margin: 0 auto;
    }

        /* .custom_banner__main > div:first-child {
      width:50%;
      flex-grow: 1;
    }

     .custom_banner__main > div:last-child {
      width:35%;
      flex-grow: 1;
    } */

  .custom_banner__main > div {
    flex:1 0 45%;
  }

  .custom_banner__body{
    color: var(--zekoki-white) !important;
  }

  .custom_banner__container img {
      margin-top: -50px;
      margin-bottom: -10px;
      max-width:585px;
  }
{%- endstyle -%}

<section
  class="custom-banner__section"
  style="
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    background-image: url('{{ section.settings.custom-banner_background | image_url }}');
  "
>
  <div class="custom_banner__main">
    <div class="custom_banner__container">
      <div class="custom_banner__body">
        <span>{{ section.settings['custom-banner__sub'] | strip_html }}</span>
        <h2 class="h1" style="color: var(--zekoki-white);">
          {{ section.settings['custom-banner__title'] | strip_html }}
        </h2>
        <p>{{ section.settings['custom-banner__description'] | strip_html }}</p>
      </div>

      <div class="banner__buttons banner__buttons--multiple">
        <a href="{{ section.settings.banner_button_url_primary | strip_html }}" class="button button--primary">
          {{- section.settings.banner_button_text_primary | strip_html -}}
        </a>
        <a href="{{ section.settings.banner_button_url_secondary | strip_html }}" class="button button--secondary">
          {{- section.settings.banner_button_text_secondary | strip_html -}}
        </a>
      </div>
    </div>

    <div class="custom_banner__container">
      <img
        src="{{ section.settings.custom-banner_image | image_url }}"
        alt="{{ section.settings.custom-banner__title }}"
        width=""
        height=""
      >
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Custom Banner Section",
  "settings": [
    {
      "type": "header",
      "content": "Section Spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 20
    },
    {
      "type": "header",
      "content": "Banner Background"
    },
    {
      "type": "image_picker",
      "id": "custom-banner_background",
      "label": "Background"
    },
    {
      "type": "image_picker",
      "id": "custom-banner_image",
      "label": "Background Image"
    },
    {
      "type": "header",
      "content": "Banner Details"
    },
    {
      "type": "text",
      "id": "custom-banner__sub",
      "label": "Banner Sub Title",
      "default": "Quality"
    },
    {
      "type": "text",
      "id": "custom-banner__title",
      "label": "Banner Title",
      "default": "Quality Products"
    },
    {
      "type": "textarea",
      "id": "custom-banner__description",
      "label": "Banner Description",
      "default": "Product that you will truly love"
    },
    {
      "type": "text",
      "id": "banner_button_text_primary",
      "label": "Button 1 Text",
      "default": "Learn More"
    },
    {
      "type": "url",
      "id": "banner_button_url_primary",
      "label": "Button 1 Link"
    },
    {
      "type": "text",
      "id": "banner_button_text_secondary",
      "label": "Button 2 Text",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "banner_button_url_secondary",
      "label": "Button 2 Link"
    }
  ],
  "presets": [
    {
      "name": "Custom Banner Section"
    }
  ]
}
{% endschema %}
