<style>
         .calltoaction {
           position:relative;
           width: 100%;
           height: 400px;
           background-size: cover;
           color: white;
           padding: 20px;
           overflow:hidden;
         }

    .calltoaction-img {
              position: absolute;
           top: 0;
           left: 0;
           width: 100%;
    }

    .calltoaction-img:after{
        content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      mix-blend-mode: multiply;
      background: rgb(218,41,28);
      background: linear-gradient(141deg, rgba(218,41,28,1) 0%, rgba(14,14,14,1) 67%);
      opacity: 1;
    }

      .calltoaction-img > img {
          width: 100%;
        -webkit-filter:  brightness(133%) contrast(95%) grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(300%) sepia(14%);
                filter:  brightness(133%) contrast(95%) grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(300%) sepia(14%);
        mix-blend-mode: none;
    }
          .calltoaction .calltoaction-content {
           position: relative;
           z-index: 3;
         }

    .calltoaction-container {
      display:flex;
      gap:30px;
    }

    .calltoaction-container form#contact_form {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      max-width:400px;
  }

        .calltoaction-container form#contact_form .email input {
     width:100%;
            background:transparent;
          border:none;
          border: 1px solid var(--zekoki-white);
          padding:2rem;
          outline:none;
          color:var(--zekoki-white);
  }

  .calltoaction-container form#contact_form .submit input[type="submit"]{
    background:var(--zekoki-white);
    color:var(--zekoki-secondary);
    border:none;
    border: 1px solid var(--zekoki-white);
    padding:2rem;
    width:100%;
  }

          .calltoaction-container form#contact_form .email input::placeholder {
          color:var(--zekoki-white);
          opacity: 1; /* Firefox */
        }



      .calltoaction-container form#contact_form .email {
     flex:1 0 70%;
  }

    .calltoaction-columns {
      flex: 1 0 45%;
    }
</style>

<div
  class="calltoaction"
  style="
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  "
>
  <div class="calltoaction-img">
    <img src="{{ section.settings.gradient-background | image_url }}');" height="" width="">
  </div>

  <div class="calltoaction-content page-width">
    <div class="calltoaction-container">
      <div class="calltoaction-columns">
        <h2 class="h1 title" style="color:var(--zekoki-white);">{{ section.settings['calltoaction-heading'] }}</h2>
        <div class="subtext">{{ section.settings['calltoaction-subtext'] }}</div>
        {% render 'custom-newsletter' %}
      </div>
      <div class="calltoaction-columns">
        <img src="">
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Call To Action Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "gradient-background",
      "label": "Background Image"
    },
    {
      "type": "color",
      "id": "gradient_start",
      "label": "Gradient Start Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "gradient_end",
      "label": "Gradient End Color",
      "default": "#000000"
    },
    {
      "type": "text",
      "id": "calltoaction-heading",
      "label": "Call To Action Heading",
      "default": "Call To Action Heading"
    },
    {
      "type": "richtext",
      "id": "calltoaction-subtext",
      "label": "Call To Subtext",
      "default": "<p>Your subtext here.</p>"
    },
    {
      "type": "image_picker",
      "id": "calltoaction-side",
      "label": "Call To Action Image"
    },
    {
      "type": "header",
      "content": "Section Spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 20
    }
  ],
  "presets": [
    {
      "name": "Call To Action Section"
    }
  ]
}
{% endschema %}
