{% style %}
      .custom-collection-list {
      /* padding-top: {{ settings.padding_top }}px;
      padding-bottom: {{ settings.padding_bottom }}px;
      margin-top: {{ settings.margin_top }}px;
      margin-bottom: {{ settings.margin_bottom }}px; */
      margin:0 !important;
      position:relative;
      padding:1rem;
    }

    .collection-card {
      display: block;
      width: 100%;
      padding: 1rem;
      /* margin-bottom: 20px; */
      text-align: center;
      border-radius: 4px;
      border: 1px solid var(--zekoki-secondary);
      box-shadow: 10px 5px 40px var(--zekoki-primary);
      transition: transform 0.2s ease-in-out;
    }

    .collection-card img {
      width: 100%;
      height: auto;
      border-radius: 5px;
    }

    .collection-card h3 {
      margin-top: 10px;
      font-size: 18px;
      text-transform: uppercase;
    }

    .collection-card:nth-child(odd) {
      background-color: var(--zekoki-primary);
    }

    .collection-card:nth-child(even) {
      background-color: var(--zekoki-white);
    }

      .collection-card:nth-child(odd) h3 a {
      color: var(--zekoki-white);
      text-decoration:none;
    }

    .collection-card:nth-child(even) h3 a {
      color: var(--zekoki-secondary);
          text-decoration:none;
    }

    .collection-card:hover {
      transform: scale(1.05);
    }

        .custom-collection-list .slick-slide{
      margin-left:  10px;
      margin-right:  10px;
    }

    .custom-collection-list .slick-list {
      margin-left: -10px;
      margin-right: -10px;
      padding:6rem 0;
    }


  /* Tablet and small desktop */
  @media screen and (min-width: 750px) {
      .custom-collection-list {
      margin-left:-8%;
      margin-right:-8%;
    }
  }

  /* Large desktops */
  @media screen and (min-width: 990px) {

  }
{% endstyle %}
<section
  class="custom-collection__section scroll-trigger animate--slide-in"
  style="
    margin-top: {{ section.settings.margin_top }}px;
    margin-bottom: {{ section.settings.margin_bottom }}px;
  "
>
  <div
    class="custom-collection-list"
    style="
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    "
  >
    {% for block in section.blocks %}
      {% assign collection_handle = block.settings.boxed_collection %}
      {% if collection_handle != blank %}
        {% assign collection = collections[collection_handle] %}
        <div class="collection-card">
          <img src="{{ collection.image | image_url }}" alt="{{ collection.title }}" width="" height="">
          <h3>
            <a href="{{ collection.url }}">{{ collection.title | truncate: 15 }}</a>
          </h3>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Custom Collection List",
  "settings": [
  {
    "type": "header",
    "content": "Section Spacing"
  },
  {
    "type": "range",
    "id": "padding_top",
    "label": "Padding Top",
    "min": 0,
    "max": 100,
    "step": 5,
    "default": 20
  },
  {
    "type": "range",
    "id": "padding_bottom",
    "label": "Padding Bottom",
    "min": 0,
    "max": 100,
    "step": 5,
    "default": 20
  },
  {
    "type": "range",
    "id": "margin_top",
    "label": "Margin Top",
    "min": -200,
    "max": 100,
    "step": 5,
    "default": 20
  },
  {
    "type": "range",
    "id": "margin_bottom",
    "label": "Margin Bottom",
    "min": -200,
    "max": 100,
    "step": 5,
    "default": 20
  }
  ],
    "blocks": [
    {
      "type": "Collections",
      "name": "Collection List",
      "limit": 12,
      "settings": [
        {
          "type": "collection",
          "id": "boxed_collection",
          "label": "Choose a collection"
        },
        {
          "type": "text",
          "id": "boxed_collection__heading",
          "label": "Heading",
          "default": "Collection Title"
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Collection List"
    }
  ]
}
{% endschema %}

<script>
  document.addEventListener("DOMContentLoaded", function () {
       $('.custom-collection-list').slick({
           slidesToShow: 7,
           slidesToScroll: 3,
           autoplay: true,
           autoplaySpeed: 3000,
           dots: false,
           arrows: false,
           responsive: [
               {
                   breakpoint: 990,
                   settings: {
                       slidesToShow: 6
                   }
               },
               {
                   breakpoint: 750,
                   settings: {
                       slidesToShow: 4
                   }
               },
               {
                   breakpoint: 480,
                   settings: {
                       slidesToShow: 2
                   }
               }
           ]
       });




   });
</script>
