{%- style -%}
    .custom-blurp__section,
    .custom-blurp__container.blurp-second {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      box-sizing: border-box;
      /* max-width: 100%; */
    }

    .custom-blurp__section .button--secondary {
      background: transparent;
      color: var(--zekoki-secondary) !important;
  }

    /* Safari Fix: Ensures proper flex behavior */
    .custom-blurp__section > div,
    .custom-blurp__container.blurp-second > div {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      min-width: 0; /* Fixes flexbox shrinking issues in Safari */
      margin-bottom: 35px; /* Fallback for gap support in older browsers */
    }

    /* Tablet and small desktop */
    @media screen and (min-width: 750px) {
      .custom-blurp__container.blurp-second > div {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 45%;
        flex: 1 1 45%;
      }
    }

    /* Large desktops */
    @media screen and (min-width: 990px) {

       .custom-blurp__section {
         gap:35px;
       }
      .custom-blurp__section > div {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 45%;
        flex: 1 1 45%;
      }

    }
{%- endstyle -%}

<section
  id=""
  class="custom-blurp__section page-width animate--slide-in"
  style="
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  "
>
  <div class="custom-blurp__container blurp-first animate--slide-in">
    <span>{{ section.settings.category_subtitle | strip_html }}</span>
    <h2 class="title h1">{{ section.settings.category_heading | strip_html }}</h2>
    <p>{{ section.settings.category_description | strip_html }}</p>

    <div class="banner__buttons banner__buttons--multiple">
      <a
        href="{{ section.settings.category_button_url_primary | strip_html }}"
        class="button button--primary"
        style="background: var(--zekoki-primary);"
      >
        {{- section.settings.category_button_text_primary | strip_html -}}
      </a>
      <a href="{{ section.settings.category_button_url_secondary | strip_html }}" class="button button--secondary">
        {{- section.settings.category_button_text_secondary | strip_html -}}
      </a>
    </div>
  </div>

  <div class="custom-blurp__container blurp-second animate--slide-in">
    {% for block in section.blocks %}
      <div class="blurp-items">
        <span>{{ block.settings.sub_category_subheading | strip_html }}</span>
        <h3>{{ block.settings.sub_category_title | strip_html }}</h3>
        <p>{{ block.settings.sub_category_description | strip_html }}</p>
      </div>
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Custom Category Section",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Section Spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 20
    },
    {
      "type": "header",
      "content": "Section Details"
    },
    {
      "type": "text",
      "id": "category_subtitle",
      "label": "Subtitle",
      "default": "Your Subtitle Here"
    },
    {
      "type": "text",
      "id": "category_heading",
      "label": "Heading",
      "default": "Your Heading Here"
    },
    {
      "type": "textarea",
      "id": "category_description",
      "label": "Description",
      "default": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."
    },
    {
      "type": "text",
      "id": "category_button_text_primary",
      "label": "Button 1 Text",
      "default": "Learn More"
    },
    {
      "type": "url",
      "id": "category_button_url_primary",
      "label": "Button 1 Link"
    },
    {
      "type": "text",
      "id": "category_button_text_secondary",
      "label": "Button 2 Text",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "category_button_url_secondary",
      "label": "Button 2 Link"
    }
  ],
    "blocks": [
    {
      "type": "blurps",
      "name": "Sub Category",
      "limit": 4,
      "settings": [
        {
          "type": "text",
          "id": "sub_category_subheading",
          "label": "Sub Heading",
          "default": "Quality Lorem Ipsum"
        },
        {
          "type": "text",
          "id": "sub_category_title",
          "label": "Heading",
          "default": "Title Lorem Ipsum"
        },
        {
          "type": "textarea",
          "id": "sub_category_description",
          "label": "Heading",
          "default": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, "
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Category Section"
    }
  ]
}
{% endschema %}
