{%- style -%}
      .custom-branch__header {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          gap: 20px;
      }

      .custom_branch__body {
        padding-top:30px; padding-bottom:30px;
      }

      .custom-branch__body {
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .custom-branch__items {
      flex: 1 0 45%;
      text-align:center;
    }

  .custom-branch__items_wrapper{
    position: relative;
    padding: 1rem;
    background: var(--zekoki-primary);
    border-radius: 1rem;
  }

    .custom-branch__items_wrapper h2 {
      background: var(--zekoki-primary);
      color: var(--zekoki-white);
      padding: 20px;
      /* position: absolute; */
      width:100%;
      margin: 0 !important;
  }

      .custom-branch__items img {
      width:100%;
        height:auto;
        display:block;
    }
{%- endstyle -%}

<section
  class="page-width custom-branch__section"
  style="
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  "
>
  <div class="custom-branch__container">
    <div class="custom-branch__header">
      <div class="custom_branch__header--container">
        <h2 class="h1">{{ section.settings['custom-branch__title'] }}</h2>
      </div>
      <div class="custom_branch__header--container">
        <p>{{ section.settings['custom-branch__description'] }}</p>
      </div>
    </div>

    <div class="custom-branch__body">
      {% for branch in shop.metaobjects.zekoki_store_branches.values %}
        <div class="custom-branch__items">
          <div class="custom-branch__items_wrapper">
            {% if branch.photo != blank %}
              <img src="{{ branch.photo | image_url }}" alt="{{ branch.title }}" height="" width="">
            {% endif %}
            <h2>{{ branch.title }}</h2>
          </div>
          <p><strong>Location:</strong> {{ branch.location }}</p>
          <a href="pages/zekoki-store-branches/{{ branch.system.handle }}" class="button button--primary">
            Branch Details
          </a>
          <a href="" class="button button--primary">
            {{ branch.system.handle }}
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Custom Branches Section",
  "settings": [
  {
    "type": "header",
    "content": "Section Spacing"
  },
  {
    "type": "range",
    "id": "padding_top",
    "label": "Padding Top",
    "min": 0,
    "max": 100,
    "step": 5,
    "default": 20
  },
  {
    "type": "range",
    "id": "padding_bottom",
    "label": "Padding Bottom",
    "min": 0,
    "max": 100,
    "step": 5,
    "default": 20
  },
  {
    "type": "header",
    "content": "branch Details"
  },
  {
    "type": "text",
    "id": "custom-branch__title",
    "label": "branch Title",
    "default": "Quality Products"
  },
  {
    "type": "textarea",
    "id": "custom-branch__description",
    "label": "branch Description",
    "default": "Product that you will truly love"
  },
  ],
  "presets": [
    {
      "name": "Custom Store Branches Section"
    }
  ]
}
{% endschema %}
