<style>
   .calltoaction {
       position:relative;
       width: 100%;
       height: var(--sectionheight);
       background-size: cover;
       color: white;
       padding: 20px;
       overflow:hidden;
       display: flex;
      flex-direction: column;
      justify-content: center;
  }

   .calltoaction-img {
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: var(--sectionheight);
  }
   .calltoaction-img:after{
       content: '';
       position: absolute;
       width: 100%;
       height: 100%;
       top: 0;
       left: 0;
       mix-blend-mode: multiply;
       background: rgb(218,41,28);
       background: linear-gradient(141deg, rgba(218,41,28,1) 0%, rgba(14,14,14,1) 67%);
       opacity: 1;
  }

   .calltoaction-img > img {
       width: 100%;
       height: var(--sectionheight);
       object-fit:cover;
       -webkit-filter: brightness(133%) contrast(95%) grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(300%) sepia(14%);
       filter: brightness(133%) contrast(95%) grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(300%) sepia(14%);
       mix-blend-mode: none;
  }
</style>

<div
  class="calltoaction"
  style="
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  "
>
  <div class="calltoaction-img">
    <img src="{{ section.settings.gradient-background | image_url }}');" height="" width="">
  </div>

  <div class="calltoaction-content page-width">
    <div class="calltoaction-container">
      <div class="calltoaction-columns">
        <h2 class="h1 title" style="color:var(--zekoki-white);">{{ section.settings['calltoaction-heading'] }}</h2>
        <div class="subtext">{{ section.settings['calltoaction-subtext'] }}</div>
        {% if section.settings.show_newsletter %}
          {% render 'custom-newsletter' %}
        {% endif %}
      </div>
      <div class="calltoaction-columns">
        {% if section.settings.show_newsletter != true %}
          <div class="calltoaction__buttons calltoaction__buttons--multiple">
            <a
              href="{{ section.settings.calltoaction_button_url_primary | strip_html }}"
              class="button button--primary"
            >
              {{- section.settings.calltoaction_button_text_primary | strip_html -}}
            </a>
            <a
              href="{{ section.settings.calltoaction_button_url_secondary | strip_html }}"
              class="button button--secondary"
            >
              {{- section.settings.calltoaction_button_text_secondary | strip_html -}}
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Call To Action Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "gradient-background",
      "label": "Background Image"
    },
    {
      "type": "color",
      "id": "gradient_start",
      "label": "Gradient Start Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "gradient_end",
      "label": "Gradient End Color",
      "default": "#000000"
    },
    {
      "type": "text",
      "id": "calltoaction-heading",
      "label": "Call To Action Heading",
      "default": "Call To Action Heading"
    },
    {
      "type": "richtext",
      "id": "calltoaction-subtext",
      "label": "Call To Subtext",
      "default": "<p>Call to action subtext here.</p>"
    },
    {
      "type": "text",
      "id": "calltoaction_button_text_primary",
      "label": "Button 1 Text",
      "default": "Learn More"
    },
    {
      "type": "url",
      "id": "calltoaction_button_url_primary",
      "label": "Button 1 Link"
    },
    {
      "type": "text",
      "id": "calltoaction_button_text_secondary",
      "label": "Button 2 Text",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "calltoaction_button_url_secondary",
      "label": "Button 2 Link"
    },
    {
      "type": "image_picker",
      "id": "calltoaction-side",
      "label": "Call To Action Image"
    },
    {
      "type": "header",
      "content": "Section Settings",
      "info": "Customized the section by tweaking these settings"
    },
    {
      "type": "checkbox",
      "id": "show_newsletter",
      "label": "Show Newsletter",
      "default": false
    },
    {
      "type": "header",
      "content": "Section Spacing",
      "info": "Adjust the padding and spacing of this section"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 20
    }
  ],
  "presets": [
    {
      "name": "Call To Action Section"
    }
  ]
}
{% endschema %}
