{%- style -%}
.custom-branch__header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.custom-branch__body {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.custom-branch__items {
    flex: 1 0 100%;
    text-align:center;
    text-decoration:none;
    transition: all 0.5s;
}

.custom-branch__items:hover {
    transform:translateY(-5px);
}

.custom-branch__items_wrapper img {
    max-height: 250px;
    object-fit: cover;
}

.custom-branch__items_wrapper{
    position: relative;
    padding: 1rem;
    background: var(--zekoki-primary);
    border-radius: 1rem;
}
.custom-branch__items p {
    color: rgb(var(--color-foreground)) !important;
    font-weight:900;
}

.custom-branch__items_wrapper h2 {
    background: var(--zekoki-primary);
    color: var(--zekoki-white);
    padding: 20px;
    width:100%;
    margin: 0 !important;
}



@media screen and (min-width: 750px) {
    .custom-branch__items {
        flex: 0 0 30%;
    }
}
{%- endstyle -%}

<section
  class="page-width custom-branch__section scroll-trigger animate--slide-in"
  style="
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  "
>
  <div class="custom-branch__container">
    <div class="custom-branch__header">
      <div class="custom_branch__header--container">
        <h2 class="h1 title">{{ section.settings['custom-branch__title'] }}</h2>
      </div>
      <div class="custom_branch__header--container">
        <p>{{ section.settings['custom-branch__description'] }}</p>
      </div>
    </div>

    <div class="custom-branch__body">
      {% for branch in shop.metaobjects.zekoki_store_branches.values limit: section.settings.branch_limit %}
       <a class="custom-branch__items" href="{{ branch.google_map }}" target="_blank">
        <div class="">
          <div class="custom-branch__items_wrapper">
            {% if branch.photo != blank %}
              <img src="{{ branch.photo | image_url }}" alt="{{ branch.title }}">
            {% endif %}
            <h3 style="color: var(--zekoki-white);">{{ branch.title }}</h3>
          </div>
          <p>{{ branch.location }}</p>
          {% comment %} <a
            href="
              {% if page.handle == 'statins' %}
                  zekoki-store-branches/{{ branch.system.handle }}
              {% else %}
                  pages/zekoki-store-branches/{{ branch.system.handle }}
              {% endif %}
            "
            class="button button--primary"
          >
            Branch Details
          </a> {% endcomment %}
          {% comment %} <a
            href="{{ branch.google_map }}"
            class="button button--primary"
          >
            View on Map
          </a> {% endcomment %}
        </div>        
       </a> 

      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Custom Branches Section",
  "settings": [
    {
      "type": "header",
      "content": "Section Spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 20
    },
    {
      "type": "header",
      "content": "branch Details"
    },
    {
      "type": "text",
      "id": "custom-branch__title",
      "label": "branch Title",
      "default": "Quality Products"
    },
    {
      "type": "textarea",
      "id": "custom-branch__description",
      "label": "branch Description",
      "default": "Product that you will truly love"
    },
    {
      "type": "header",
      "content": "Branch Display Settings"
    },
    {
      "type": "range",
      "id": "branch_limit",
      "label": "Number of branches to show",
      "min": 1,
      "max": 20,
      "step": 1,
      "default": 3
    }
  ],
  "presets": [
    {
      "name": "Custom Store Branches Section"
    }
  ]
}
{% endschema %}
