{%- style -%}
      .custom-about__section {
          width: 100%;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          min-height: 585px;
          display: flex;
          align-items: center;
      }

    .custom_about__main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        max-width: 1500px;
        width: 100%;
        margin: 0 auto;
    }

        .custom_about__main > div:first-child {
      width:50%;
      flex-grow: 1;
    }

     .custom_about__main > div:last-child {
      width:35%;
      flex-grow: 1;
    }

  .custom_about__body{
    color: var(--zekoki-secondary) !important;
  }

  /* .custom_about__container img {
      margin-top: -50px;
      margin-bottom: -10px;
  } */
{%- endstyle -%}

<section
  class="custom-about__section"
  style="
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    background-image: url('{{ section.settings.custom-about_background | image_url }}');
  "
>
  <div class="custom_about__main">
    <div class="custom_about__container">
      <div class="custom_about__body">
        <span>{{ section.settings['custom-about__sub'] | strip_html }}</span>
        <h2 class="h1">
          {{ section.settings['custom-about__title'] | strip_html }}
        </h2>
        <p>{{ section.settings['custom-about__description'] | strip_html }}</p>
      </div>

      <div class="about__buttons about__buttons--multiple">
        <a href="{{ section.settings.about_button_url_primary | strip_html }}" class="button button--primary">
          {{- section.settings.about_button_text_primary | strip_html -}}
        </a>
        <a href="{{ section.settings.about_button_url_secondary | strip_html }}" class="button button--secondary">
          {{- section.settings.about_button_text_secondary | strip_html -}}
        </a>
      </div>
    </div>

    <div class="custom_about__container">
      <img
        src="{{ section.settings.custom-about_image | image_url: width: 585 }}"
        alt="{{ section.settings.custom-about__title }}"
        width="100%"
        height="auto"
      >
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Custom About Section",
  "settings": [
    {
      "type": "header",
      "content": "Section Spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 20
    },
    {
      "type": "header",
      "content": "About Background"
    },
    {
      "type": "image_picker",
      "id": "custom-about_background",
      "label": "Background"
    },
    {
      "type": "image_picker",
      "id": "custom-about_image",
      "label": "Background Image"
    },
    {
      "type": "header",
      "content": "About Details"
    },
    {
      "type": "text",
      "id": "custom-about__sub",
      "label": "About Sub Title",
      "default": "Quality"
    },
    {
      "type": "text",
      "id": "custom-about__title",
      "label": "About Title",
      "default": "Quality Products"
    },
    {
      "type": "textarea",
      "id": "custom-about__description",
      "label": "About Description",
      "default": "Product that you will truly love"
    },
    {
      "type": "text",
      "id": "about_button_text_primary",
      "label": "Button 1 Text",
      "default": "Learn More"
    },
    {
      "type": "url",
      "id": "about_button_url_primary",
      "label": "Button 1 Link"
    },
    {
      "type": "text",
      "id": "about_button_text_secondary",
      "label": "Button 2 Text",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "about_button_url_secondary",
      "label": "Button 2 Link"
    }
  ],
  "presets": [
    {
      "name": "Custom About Section"
    }
  ]
}
{% endschema %}
