{% style %}
        .product-section {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 40px;
          margin: auto;
      }

      .product-image {
          flex: 1;
          display: flex;
          justify-content: center;
      }

      .product-image img {
          max-width: 100%;
          height: auto;
          border-radius: 4px;
      }

      .product-content {
          flex: 1;
          padding-left: 40px;
      }

      .product-content h2 {
          font-weight: bold;
          color: #000;
      }

      .product-content p {
          color: #555;
          margin: 15px 0;
      }

      /* Responsive Design */
      @media (max-width: 768px) {
          .product-section {
              flex-direction: column;
              text-align: center;
              padding: 20px;
          }

          .product-content {
              padding-left: 0;
              margin-top: 20px;
          }
      }
  </style>
{% endstyle %}

{% assign guide = product.metafields.custom.product_guide.value %}

{% if guide %}
  <div style="background:#fff;">
    <section class="product-section page-width">
      <div class="product-image">
        {% if guide.thumbnail != blank %}
          <img src="{{ guide.thumbnail | image_url }}" alt="{{ guide.title }}" height="" width="">
        {% endif %}
      </div>
      <div class="product-content">
        <h2>{{ guide.title }}</h2>
        <p>
          {{ guide.description }}
        </p>
        <a href=" {{ guide.external_link }}" class="button button--primary">Watch Demo</a>
      </div>
    </section>
  </div>
{% endif %}

{% schema %}
{
  "name": "Product Guide",
  "settings": [
    {
      "type": "richtext",
      "id": "custom_form_side",
      "label": "Sidebar Content"
    }
  ],
  "presets": [
    {
      "name":"Product Guide Section"
    }
  ]
}
{% endschema %}
